@import 'tailwindcss';

@theme {
  --font-heading: 'Outfit', sans-serif;
  --font-body: 'Inter', sans-serif;
  --color-brand-pink-light: #FCF8F8;
  --color-brand-pink-soft: #FBEFEF;
  --color-brand-pink-med: #F9DFDF;
  --color-brand-pink-primary: #F5AFAF;
  --color-brand-dark: #2D2D2D;
  --color-brand-text-main: #1A1A1A;
  --color-brand-text-muted: #52525B;
  --color-brand-text-light: #71717A;

  --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Outfit', sans-serif;
  letter-spacing: -0.02em;
}

body {
  background-color: #FCF8F8;
  color: #1A1A1A;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-legible {
  @apply text-xs font-bold uppercase tracking-widest leading-relaxed;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}