@import "tailwindcss";

@theme {
  --font-outfit: "Outfit", sans-serif;
  --grid-template-columns-stats: repeat(auto-fit, minmax(240px, 1fr));
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans antialiased;
  }
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(300%);
  }
}

:root {
  --primary: #0ea5e9;
  /* sky-500 */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full hover:bg-slate-400 transition-colors;
}