@import "tailwindcss";

@theme {
  --font-outfit: "Outfit", sans-serif;
  --grid-template-columns-stats: repeat(auto-fit, minmax(240px, 1fr));
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans antialiased;
  }
}

:root {
  --primary: #f97316;
  /* orange-500 */
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full hover:bg-orange-500 transition-colors;
}